@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-800 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

@layer utilities {
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
}